<!DOCTYPE html>
<html>
<head>
    <title>Story6 | Landing Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

<style>
	img {
		border-radius: 2%;
		width: 550px;
	}
	h1 {
		font-size: 50px;
	}
</style>
</head>

<body>
<div class="container-fluid text-center">
	<div class="row my-row">
		<div class="col-12 my-col">
			<br><br><br>
			<h1>🌻 Good Day Mate 🌻</h1>
		</div>
	</div>
	<br><br>
	<div class="row my-row">
		<div class="col-6 my-col">
			<form method="post">
                {% csrf_token %}
				<br><br><br>
                {{ tweet_form }}
				<br>
                <button type="submit" id="simpan" class="btn btn-light">Publish</button>
            </form>
			<h2> ┊┊┊┊⋆ ✧　 　 · 　 ✧　✵ 
				┊┊┊☆ *　　 * ⋆ 
				┊┊★ * 
				┊┊* . *　✦ 
				┊☆ ° ✧　
				┊☆ ° ✧　　
				┊┊* . *　✦
				┊┊★ * 
				┊┊┊☆ *　　 * ⋆ 
				┊┊┊┊⋆ ✧　 　 · 　 ✧　✵ 
				· ★*┊┊┊┊ 
				┊┊🌙 * 
				┊☆ ° 
				· ★*┊┊┊┊</h2>
		</div>
		<div class="col-6 my-col">
			<br><br><br><br>
			<img src= "https://i.pinimg.com/564x/48/e6/89/48e689ff8cf068326ed787c6830b98d3.jpg" alt="bg">
		</div>
	</div>
		
	<div class="row my-row">
		<div class="col-12 my-col">
			<br><br><br><br><br>
			<h2>💁Your Mood List :</h2>
		</div>
	</div>
	
	<div class="row my-row">
		<br><br><br><br>
		<div class="col-12 my-col">
            {% if tweets %}
            {% for tweet in tweets reversed %}
            <div class="row">
                <div class="col-4">
					<br>
                    <h3>{{ tweet.date_fill }}</h3>
                </div>
                <div class="col-4">
					<br>
                    <h3>{{ tweet.tweet }}</h3>
                </div>
                <div class="col-4">
					<br>
                    <form action="delete_tweet/" method="post">
                        {% csrf_token %}
                        <input type="hidden"  name="id" value="{{ tweet.id }}">
                        <button type="submit" id="hapus" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}

            {% else %}
			<br><br><br>
            <h5 style="color: aqua;">There is no status updated.</h5>
            {% endif %}
		</div>
	</div>
<br><br><br>
</body>
</html>

